<h1>Tables for XY, YZ and ZX pearson correlation coefficients</h1>
<div id="table-location">
	
</div>
<br/>
<!-- Location where the chart will be added -->
<h1>Charts for XY, YZ and ZX pearson correlation coefficients</h1>
<div  id="charts">
	<div id="chart-locationXY">
		
	</div>
	<div id="chart-locationYZ">

	</div>
	<div id="chart-locationZX">

	</div>
	<div id="chart-locationXY2">

	</div>
</div>
<script id="tabular-template" type="text/html">
\{{#each this}}
<h2>\{{this.name}}</h2>
<table class="table table-bordered">
 <table class="table table-bordered">
  <thead>
  	<tr>
  		<td>Correlation coefficient</td>
  		<td>Accelerometer </td>
  		<td>Magnetometer </td>
  	</tr>
  </thead>
  <tbody>
  	<tr>
  		<td>XY</td>
  		<td>\{{this.acc_xy}}</td>
  		<td>\{{this.mag_xy}}</td>
  	</tr>
  	<tr>
  		<td>YZ</td>
  		<td>\{{this.acc_yz}}</td>
      <td>\{{this.mag_yz}}</td>
  	</tr>
  	<tr>
  		<td>ZX</td>
  		<td>\{{this.acc_zx}}</td>
      <td>\{{this.mag_zx}}</td>
  	</tr>
  </tbody>
</table>
\{{/each}}
</script>
